service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
    }
    match /{userID}/image/{basename} {
    	allow write: if request.auth.uid == userID
                   && request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
