@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
  background-color: #F5F5F5;
}

.upload__button {
  width: 52px !important;
  height: 59px !important;
  padding: 0 !important;
}

.upload__star {
  width: 52px;
  height: 59px;
}

@media (min-width: 768px) {
  .upload__button {
    width: 78px !important;
    height: 89px !important;
    padding: 0 !important;
  }

  .upload__star {
    width: 78px;
    height: 89px;
  }
}
