body {
  /* margin: 8px 8px; */
  padding-top: 64px;
  background-color: #F5F5F5;
}

/* .container-fluid {
   padding-left: 0;
   padding-right: 0;
} */

.upload__button {
  width: 52px !important;
  height: 59px !important;
  padding: 0 !important;
}

.upload__star {
  width: 52px;
  height: 59px;
}

@media (min-width: 768px) {
  .upload__button {
    width: 78px !important;
    height: 89px !important;
    padding: 0 !important;
  }

  .upload__star {
    width: 78px;
    height: 89px;
  }
}
